@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
:root {
  --text-color: #1a1a1a;
  --green-color: #39b4ac;
  --green-active-color: #088178;
  --gray-color: #555;
  --top-header-color: #d8f4e2;
  --text-2-color: #63a2c1;
  --text-3-color: #d77f7a;
}

body {
  color: var(--text-color);
}
.lato {
  font-family: "Lato", sans-serif;
}
.spartan {
  font-family: "League Spartan", sans-serif;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.fs-14 {
  font-size: 14px;
}
/* Start Header */
.header-top {
  background-color: var(--top-header-color);
  border-bottom: 3px solid var(--green-color);
}
/* .header-erea .header-top .header-info > ul li:first-child {
  content: "hi";
  position: absolute;
  width: 1px;
  height: 5px;
  background-color: #1a1a1a;
} */
.header-top__right > ul > li > ul img {
  max-width: 15px;
  margin-right: 5px;
}
.header-top__right > ul > li > ul.lang {
  top: 23px;
  min-width: 120px;
  display: none;
}
.header-top__right > ul > li:hover > ul.lang {
  display: block;
}
.header-wrap__logo img {
  width: 120px;
  height: auto;
}
.header-middel .header-wrap__right__search__categories .dropdown-item,
.header-middel .header-wrap__right__search__categories .dropdown-toggle,
.header-wrap__right__icons__bars {
  cursor: pointer;
}
.header-middel .header-wrap__right__search input:focus-visible {
  outline: none;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-middel {
    min-height: 50px;
    border-bottom: 2px solid #088178;
    padding: 10px !important;
  }
}
@media only screen and (max-width: 768px) {
  .header-middel {
    min-height: 50px;
    border-bottom: 1px solid #e2e9e1;
  }
}
@media only screen and (min-width: 480px) and (max-width: 667px) {
  .header-middel {
    min-height: 40px;
    border-bottom: 1px solid #e2e9e1;
  }
}

.header-bottom > ul li a i {
  font-size: 13px;
}
.header-bottom .main-menu > li.active,
.header-bottom .main-menu > li:hover {
  color: var(--green-active-color);
}
.header-bottom .main-menu .sub-menu {
  left: 0;
  top: 100%;
  min-width: 250px;
}
/* .header-bottom .main-menu li:hover .sub-menu {
  opacity: 1;
  visibility: unset;
} */
.header-bottom .main-menu > li > ul.sub-menu li a,
.header-bottom .main-menu > li > .mega-menu li a {
  font-size: 15px;
  color: var(--gray-color);
}
.header-bottom .main-menu > li > .mega-menu .mega-menu__titel,
.header-bottom__categories {
  color: var(--green-active-color);
}
.header-bottom .main-menu > li > ul.sub-menu li:hover a,
.header-bottom .main-menu > li > .mega-menu li:hover a {
  color: var(--green-color);
}
.header-bottom .main-menu .mega-menu {
  left: -40vw;
  top: 100%;
  width: 90vw;
}
.header-bottom .main-menu li:hover .mega-menu,
.header-bottom .main-menu li:hover .sub-menu {
  opacity: 1;
  visibility: unset;
}
.header-bottom__categories__sub-menu img {
  width: 20px;
  height: auto;
}
.header-bottom__categories__sub-menu {
  top: 100%;
  width: 250px;
}
.header-bottom__categories__sub-menu .categories {
  overflow: hidden;
  height: 165px;
  color: var(--text-color);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/* End Header */
/* Start Slider */
.home-slider,
.home-slider .carousel,
.home-slider .carousel .carousel-inner,
.home-slider .carousel .carousel-inner .carousel-item,
.home-slider .carousel .carousel-inner .carousel-item .container,
.home-slider .carousel .carousel-inner .carousel-item .container .row {
  height: calc(100vh - 162.9px);
}
.home-slider .carousel .chevron-right,
.home-slider .carousel .chevron-left {
  background-color: #e8f6ea;
  border: 1px solid #cce7d0;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.home-slider .carousel .chevron-right:hover,
.home-slider .carousel .chevron-left:hover {
  background-color: #088178;
  border-color: #088178;
}
@media (max-width: 768px) {
  .home-slider .carousel .chevron-right,
  .home-slider .carousel .chevron-left {
    opacity: 0;
  }
}
.home-slider .carousel-inner .slider-content h2 {
  font-size: 46px;
}
.home-slider .carousel-inner .slider-content h1 {
  font-size: 58px;
}
.home-slider .carousel-inner .slider-content p {
  font-size: 18px;
}
.home-slider .carousel-inner .slider-content a {
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
}
.home-slider .carousel-inner .slider-content .slide-btn-1 {
  background-image: url(../assets/images/btns/btn-bg-3.png);
}
.home-slider .carousel-inner .slider-content .slide-btn-2 {
  background-image: url(../assets/images/btns/btn-bg-2.png);
}
.home-slider .carousel-inner .slider-content .slide-btn-3 {
  background-image: url(../assets/images/btns/btn-bg-1.png);
}
@media only screen and (max-width: 768px) {
  .home-slider .carousel-inner .slider-content h4 {
    font-size: 16px;
    font-weight: 900;
  }
  .home-slider .carousel-inner .slider-content h2 {
    font-size: 30px;
  }
  .home-slider .carousel-inner .slider-content h1 {
    font-size: 32px;
  }
  .home-slider .carousel-inner .slider-content p {
    font-size: 14px;
  }
}
/* End Slider */
/* Start Features*/
.featured-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 25px 15px;
  border-radius: 4px;
  border: 1px solid #cce7d0;
  -webkit-box-shadow: 20px 20px 54px rgb(0 0 0 / 3%);
  box-shadow: 20px 20px 54px rgb(0 0 0 / 3%);
}
.features-titel {
  font-size: 13px;
  font-weight: 700;
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: var(--green-active-color);
}
/* End Features*/
